[defaults]
# Use more human readable YAML output instead of JSON
result_format = yaml

# Hide skipped tasks
display_skipped_hosts = false

# Removes ASCII art from output if cowsay is installed
nocows = true

# Adds duration to the end of the play output
callbacks_enabled = timer

[ssh_connection]
# Reduce number of network operations by executing many modules without file transfer
pipelining = True

# Use ControlMaster to have multiple SSH sessions over a single connection
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
